.container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;
    justify-content: center;               
}

body {
  margin: 0;           
  display: flex;       
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;   
  text-align: center;  
  font-family: sans-serif; 
}
